nav{
    background-color: rgb(19, 39, 63);
    color: rgb(255, 255, 255);
    position: fixed;
    top : 20px;
    background-color: rgb(26, 20, 20);
    height: 8.2vh;
    width: 100%;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 1.7rem;
    font-weight: 800;
}

nav .navbar-links{  
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    width: 70%;
    height: 100%;
}

