nav {
    padding: 15px 50px;
    height: 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: var(--light-primary-white); */
    background-color: aqua;
}

nav p {
    color: var(--light-text-primary);
    font: var(--primary-font);
    font-weight: 400;
    font-size: 25px;
}

nav .navbar-links {
    color: var(--light-text-primary);
    text-decoration: none !important;
    font-size: 15px;
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

nav .user-auth-links {
    color: var(--light-text-secondary);
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    gap: 5px;
}

nav #signup-link {
    background-color: black;
    margin-top: 2px;
    padding: 4px 15px;
    border-radius: 10px;

}

nav #link-item:hover{
    color: var(--light-text-primary);
}
