.signup {
    height: 100%;
    width: 100%;
    background-color: var(--light-primary-white);
    position: absolute;

}

h1 {
    position: absolute;
    font: var(--primary-font);
    color: var(--light-text-primary);
    left: 0;
    top: 0;
    margin: 20px 50px;
    font-size: 1.2rem;
}


.signup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.signup-container h2 { 
    font: var(--light-text-primary);
    font: var(--secondary-font);
    font-size: 2rem;
    font-weight: 500;
}

.signup-container p {
    color: var(--light-text-secondary);
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    height: 100%;
    background-color: var(--light-secondary-white);
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #bbbbbb;
}

.signup-label {
    padding: 10px;
    font: var(--secondary-font);
    font-size: 0.9rem;
}

.signup-input {
    color: var(--light-text-secondary);
    background-color: var(--form-input-color);
    padding: 8px;
    width: 90%;
    height: 20px;
    margin: 0 0 15px 10px;
    border: 0px gray solid;
    border-radius: 8px;
    font: var(--secondary-font);
}

.signup-input:hover {
    background-color: var(--form-input-hover);
}


.signup-input :active {
    border: 5px solid var(--light-accent-purple);

}

.signup-form button {
    margin: 30px 0 0 40px;
    height: 40px;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light-accent-purple);
    border: 0px gray solid;
    color: var(--dark-text-primary);
    font: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}

.signup-form button:hover {
    background-color: var(--dark-accent-purple);
}

.login-link {
    margin-top: 12px;
}